
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela Round"/>
<div class="background">
<div style = "margin-right: 60px; margin-bottom: 50px;margin-top: -50px;">
   <div class="main">
    <div class ="container">
        <img src = '' style = "height:150;width:150px;margin-left: 95px;margin-top:20px" />
        </div>
        <h1 style="font-size:20px ;font-family: Varela Round;font-weight:medium;"> Welcome to<br></h1>
        <h2 style="font-size:30px;color:orange;font-family: Varela Round;font-weight:bold">Hospital Management System</h2>
 <br>
    <div class="button">
        <button (click)="adminlogin()"> Admin Login </button><br>
        <button (click)="patientlogin()">Patient Login</button>
            <button (click)="signup()">Patient Registration</button><br>
            <button (click)="doctorlogin()">Doctors Login</button>
    </div>
  </div>
</div>
</div>