
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela Round">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="main">
    
    <div style="text-align:center">
    <div  class="regform" style = " border-color: orange;border-style: solid;">      
        <div style="text-align: center;">
          <br>
          <br>
            <p class="cen" style="color:orange;font-size: xx-large;" >Patient Login</p>
          <br>
        </div>
        <form [formGroup]="ConForm" >
            <div class="form-group">
                <label for="exampleInputEmail1" style="font-family: Varela Round;">Email address:</label>
                <input type="email" id="input-email" class="w3-input"  name="email" formControlName="emailid">
                <div *ngIf="!ConForm.get('emailid')?.valid &&(ConForm.get('emailid')?.dirty||ConForm.get('emailid')?.touched)" class="error">
                  <div *ngIf="ConForm.get('emailid')?.errors?.required">
                  <small class="text-danger">Please Enter your Email ID</small>
                  </div>
            </div>
                  
             
              </div>
              
                <div class="form-group col-md-12">
                    <label for="exampleInputEmail1" style="font-family: Varela Round;">Password:</label>
                  <input type="password" class="w3-input" id="input-password"  name="password" formControlName="password">
                    <div *ngIf="!ConForm.get('password')?.valid &&(ConForm.get('password')?.dirty||ConForm.get('password')?.touched)" class="error">
                      <div *ngIf="ConForm.get('password')?.errors?.required">
                      <small class="text-danger">Please Enter your Password</small>
                      </div>
                </div>
                
                      
                
                  </div>
                  
                  <div style="text-align: center;">
                    <button id="input-button" class = "button" (click)="onclick()">Login</button>
                    
              
                </div>
                <br>
                <div style="text-align: center;margin-bottom: 5px; margin-top: 10px;">
                  <a style="font-family:Varela Round;color:orange;font-size: 15px;" routerLink="/Registration">Don't have an account? Register</a>
                  
                </div>